img.hello{
    display: block;
    margin: 10px auto;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 310px;
}
h2.acompanante{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #A2E58D;
    text-align: center;
}
p.elige{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #666666;
    margin-left: 70px;
    margin-right: 70px;
}
button.omitir{
    outline: none;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    border: 0;
    background-color: white;
    text-decoration: underline;
}