div#sharethis-1615497904014{
    margin-top:35px;
}
div.compartir{
    margin-top:35px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
div.st-btn{
    display: inline-block;
}
