img.imgQuestion{
    display: block;
    margin: 10px auto;
    width: 210px;
    margin-top:20px;
}
h3.pregunta{
    margin:25px 35px 25px 35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #666666;
}
div.opciones{
    display: block;
    margin: 10px auto;
    background: #BAC3D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 250px;
}
p.respuestas{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #666666;
    padding: 20px 15px 20px 15px;
    margin-bottom: 20px;
}
.verde{
    background: #BAC3D7;
    border: 3px solid #71E04A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 85%;
    display: block;
    margin: 0px auto;
    padding-top:-20px;
    margin-bottom: 20px;
    p.respuestas{
        padding: 0px 11px 0px 11px;
    }
}
.rojo {
    background: #BAC3D7;
    border: 3px solid #F71F1F;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 85%;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    p.respuestas{
        padding: 0px 11px 0px 11px;
    }
}
p.info{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    margin-left:25px;
    margin-right:25px;
}
button.pregunta{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #545454;
    width: 120px;
    display:block;
    margin:10px auto;
    margin-bottom: 25px;
    margin-top: 20px;
}
img.results{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 0px;
}
p.presult{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    margin-top:0px;
    margin-bottom: 5px;
}
p.inferior{
    padding-bottom: 15px;
}
@media screen and (min-width: 375px) {
    p.info{
        font-size: 24px;
        padding-top: 37px;
        padding-bottom: 25px;
    }img.imgQuestion{
        width: 320px;
        margin-top:25px;
    } h3.pregunta{
        margin-top: 90px;
        font-size: 24px;
    } div#opcion1{
        margin-top:53px;
        width: 281px;
    } div#opcion2{
        width: 281px;
    } p.respuestas{
        font-size: 18px;
        margin-bottom: 31px;
    } img.results{
        padding-top:15px;
    } p.presult{
        font-size: 24px;
    }

}
