h3.choose{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #666666;
    margin-left:20px;
}
div.jugadores{
    margin-bottom: 0px;
    margin-top:-20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
p.edad{
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 9.4%;
    margin-top:7px;
    padding-bottom: 8px;
}
div.recuadro{
    border-radius: 10px;
    background-color:  #BAC3D7;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}
p.descripcion{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 8%;
    margin-left:8%;
}
img.foto{
    padding-top: 7%;
    padding-right: 5%;
}
span.negrita{
    font-weight: bold;
}
p.javiedad{
    margin-top:-15px;
}
p.subtitulo{
    margin-top: 12%;
    margin-right: 7%;
}
img.javi {
    padding-top:0;
}
img.david {
    padding-top:0;
}
p.davidedad{
    margin-top:-20.4px;
}
p.saraedad{
    margin-right: 10.4%;
}
div.inferior{
    margin-bottom: 68px;
}
div.black{
    background: #C4C4C4;
}
p.black{
    color: #3D322B;
}