h1.titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #666666;
    margin-left:15px;
    margin-top: -10px;
    margin-bottom: 0;
}
img.lupa{
    width: 230px;
    display: block;
    margin: 0px auto 10px auto;
    padding-top:0px;
    padding-bottom: 20px;
}
p.sobre{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15.9px;
    line-height: 19px;
    text-align: justify;
    color: #666666;
    margin-left: 24px;
    margin-right: 24px;
}
div.donjug{
    margin-top:-35px;
}
button.play{
    margin-top: 45px;
    margin-bottom: 34px;
}
p.final{
    margin-bottom: 25px;
}
@media screen and (min-width: 375px) {
    img.logo{
    width: 104.02px;
    margin-top: 74px;
} h1.titulo{
    font-size: 36px;
    margin-bottom: 15px;
} img.lupa{
    width: 290.15px;
} button.siguiente{
    width: 148px;
}

}