img.intro{
    margin:0px auto;
	display:block;
    padding-top:120px;
    padding-bottom: 150px;
    width: 189.2px;
    margin-left:77px;
}
div.introductorio{
    background: #BAC3D7;
    width: 100%;
    height: 100vh;
}
img.bajera{
    width: 100%;
    position: absolute;
    bottom: 0;
}