img.intro{
    margin:0px auto;
	display:block;
    padding-top:215px;
    padding-bottom: 150px;
    width: 189.2px;
    height: auto;
    margin-left:80px;
}
div.introductorio{
    background: #BAC3D7;
    width: 100%;
    height: 100vh;
}
img.bajera{
    width: 100%;
    position: absolute;
    bottom: 0;
}
@media screen and (min-height: 667px){
    img.intro{
        margin-left:90px;
        padding-top:255px;
    }
}
@media screen and (min-width: 375px) and (min-height: 736px) {
    img.intro{
        margin-left:100px;
        padding-top:315px;
    }
}