.PayPal {
    text-align: center;
}
img.PayPal{
    display:block;
    margin:auto;
}
p.enhorabuena{
    margin-top:0px;
    padding-top:50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 21px;
    text-align: justify;
    color: #666666;
    margin-left:24px;
    margin-right: 24px;
}
div.end{
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}
p.resultado{
    margin-top:0px;
    padding-top:30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;
    text-align: justify;
    color: #666666;
    margin-left:24px;
    margin-right: 24px;
}
p.punt{
    padding-top: 20px;
}