img.fijo{
    position: fixed;
    bottom: -1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
img.icons{
    margin-top: 0px;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
p.icons{
    width: 36px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top:0;
}
div.iconosNav{
    position:fixed;
    bottom: -6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
img.flor{
    margin-left: 17px;
}
img.play{
    margin-left:7.5px;
    margin-bottom: 45px;
}
div.home{
    margin-left: 45px;
}
div.colaborar{
    margin-right: 50px;
}
@media screen and (min-width: 323px) and (max-width: 334px) {
    div.iconosNav {
        bottom: -4px;
    }
}
@media screen and (min-width: 334px) and (max-width: 343px) {
    div.iconosNav {
        bottom: -2.8px;
    }
}
@media screen and (min-width: 343px) and (max-width: 350px) {
    div.iconosNav {
        bottom: -2px;
    }
}
@media screen and (min-width: 350px) and (max-width: 363px) {
    div.iconosNav {
        bottom: -0.5px;
    }
}
@media screen and (min-width: 363px) and (max-width: 375px) {
    div.iconosNav {
        bottom: 1.5px;
    }
}
@media screen and (min-width: 375px) and (max-width: 390px) {
    div.iconosNav {
        bottom: 2.5px;
    }
}
@media screen and (min-width: 390px) and (max-width: 420px) {
    div.iconosNav {
        bottom: 8px;
    }
}
@media screen and (min-width: 375px) and (height: 812px) {
    div.iconosNav{
        bottom: 0.7%;
    } img.play {
        margin-bottom: 42px;
}}